body {
  background:#F8F9FE;
}
p h1 h2 h3 h4 h5 h6 {
  font-family: 'ASAP', sans-serif;
}
nav {
  top:0px;
  a {
    width:10%;
  }
  a img{
    width:75%;
    margin:20%;
  }
}
.hamburger {
  visibility:hidden;
}
form {
  width:80%;
  height: 80%;
  margin:0 auto;
  box-shadow: 1px 1px 10px #888888;
  margin-top:20%;
  #year, #month, #day {
    border: 1px solid black;
    height:20px;
    border-radius:2px;
  }
  h1 {
    margin:10%;
    color:#276AAD;
  }
  input {
  display: block;
  margin:0 auto;
  }
  button {
    color:white;
    display: block;
    margin:0 auto;
    width:50%;
    background:#276AAD;
    margin:10% auto;
    border-radius:10px;
  }
}
#hold-answer {
  font-size:50px;
  text-align:center;
  padding-top:100px;
  color:#276AAD;
}
@media (min-width:767px) {
  nav a img {
    width:30%;
  }
}
