body {
  background: #F8F9FE; }

nav {
  top: 0px; }
  nav a {
    width: 10%; }
  nav a img {
    width: 75%;
    margin: 20%; }

.hamburger {
  visibility: hidden; }

.counter {
  width: 10%; }

.meeting-section {
  margin-top: 15%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'ASAP', sans-serif;
  font-weight: 400;
  text-align: center; }

.day-time {
  color: #276AAD; }

.go-btn {
  width: 60%;
  height: 10vh;
  background: #276AAD;
  margin: 10% auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .go-btn img {
    height: 50%; }
  .go-btn a {
    color: white;
    font-family: 'ASAP', sans-serif; }

.fav-btn {
  width: 50%;
  height: 8vh;
  margin: 10% auto;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .fav-btn img {
    height: 50%;
    margin: 5%; }

@media (min-width: 767px) {
  nav a img {
    width: 30%; } }
body {
  background: #F8F9FE; }

p h1 h2 h3 h4 h5 h6 {
  font-family: 'ASAP', sans-serif; }

nav {
  top: 0px; }
  nav a {
    width: 10%; }
  nav a img {
    width: 75%;
    margin: 20%; }

.hamburger {
  visibility: hidden; }

form {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #888888;
  margin-top: 20%; }
  form #year, form #month, form #day {
    border: 1px solid black;
    height: 20px;
    border-radius: 2px; }
  form h1 {
    margin: 10%;
    color: #276AAD; }
  form input {
    display: block;
    margin: 0 auto; }
  form button {
    color: white;
    display: block;
    margin: 0 auto;
    width: 50%;
    background: #276AAD;
    margin: 10% auto;
    border-radius: 10px; }

#hold-answer {
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  color: #276AAD; }

@media (min-width: 767px) {
  nav a img {
    width: 30%; } }
body {
  font-family: 'Asap', sans-serif;
  background: #F8F9FE;
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

nav {
  background: #276AAD;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
  position: fixed; }
  nav h1 {
    font-weight: 300;
    color: white;
    margin: 2%; }
  nav img {
    width: 7%;
    margin: 3%; }
  nav .back {
    visibility: hidden; }

.logo {
  display: flex;
  justify-content: center;
  margin: 5% 30%;
  width: 40%; }

.header {
  background: #276AAD;
  position: fixed;
  top: 7%;
  width: 100%; }

.quick-btn {
  width: 60%;
  height: 8vh;
  background: #276AAD;
  margin: 5% auto;
  border: 2px solid white;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .quick-btn h1 {
    font-weight: 300;
    color: white; }
  .quick-btn img {
    height: 50%; }

.quick-info {
  visibility: hidden;
  color: #276AAD;
  text-align: center;
  margin: 0 auto;
  margin-top: 10%; }
  .quick-info h2 {
    margin: 0; }

.selector {
  padding-top: 40%;
  display: flex;
  justify-content: space-around; }
  .selector h2 {
    font-weight: 400;
    border-bottom: 3px solid #F8F9FE;
    line-height: 0; }
  .selector .day {
    border-bottom: 3px solid transparent; }

.meeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2% 2%;
  border-radius: 2px;
  box-shadow: 1px 1px 10px #888888; }

.info {
  width: 50%;
  margin: 2%;
  line-height: 0;
  text-align: center; }
  .info p, .info h5 {
    font-weight: 300;
    word-wrap: break-word; }
  .info p {
    line-height: 0; }

.time-distance {
  background: #276AAD;
  width: 25%;
  height: 10vh;
  border-radius: 2px;
  text-align: center;
  color: white;
  line-height: 0; }
  .time-distance h3, .time-distance h5 {
    font-weight: 300; }

@media (min-width: 767px) {
  nav img {
    width: 3%; }

  .quick-btn {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 6vh; }
    .quick-btn img {
      margin-left: 3%; }
    .quick-btn h1 {
      margin-right: 3%; }

  .selector {
    padding-top: 20%; } }
@media (min-width: 1440px) {
  .header {
    top: 10%; }

  .selector {
    padding-top: 18%; } }

/*# sourceMappingURL=style.css.map */
