<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>the rooms</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet"/>
    <link href="css/normalize.css"  th:href="@{css/normalize.css}"  rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <a href="index.html"  th:href="@{/}"><img id="back" src="../static/images/back-arrow.png" th:src="@{/images/back-arrow.png}" alt=""/></a>
    <h1>the rooms</h1>
    <img class="hamburger" th:src="@{/images/hamburger.png}" src="../static/images/hamburger.png" alt=""/>
</nav>
<form>
  <h1>Sobriety Counter</h1>
  <input type="text" id="year" placeholder="year (yyyy)"></input>
  <br/>
  <input type="text" id="month" placeholder="month (mm)"></input>
  <br/>
  <input type="text" id="day" placeholder="day (dd)"></input>
  <button type="button" onclick="myFunction()"><h2>Submit</h2></button>
</form>
<div id="hold-answer">

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../static/js/script.js" th:src="@{js/script.js}"></script>
</body>
</html>
